<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activity Generator</title>
</head>
<body style="display:flex; height:100%; width:100%; margin:0;">
   <div style="margin:auto;"> 
    <h1>You have selected a {{ selected }}!</h1>
    <p style="text-align:center;font-size:20px">Your suggested activity is below:</p>
    <h2>{{ response }}</h2>
</div>

</body>
</html>