<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <h1 style="text-align:center;">Hello {{ name|capitalize }}. Let's find you something to do today</h1>
    <form action = "/activity" method = "POST">
        <p>Would You Like to do a Solo Activity? yes/no:</p>
        <p><input type = "text" name = "solo"></p>
        <p><input type = "submit" value = "submit"></p>
    </form>
    <img src="https://media.tenor.com/wkmv_bDropIAAAAd/step-brothers-room-for-activities.gif" alt="Stepbrothers" width="800" height="600" style="display: block;margin-left: auto;margin-right: auto;width: 50%;">
</body>
</html>